@page "/"
@inject LocationSearchQuery locationSearchQuery
@inject WeatherInfoQuery weatherInfoQuery

<div class="contentContainer">
    <div class="twoColumn">
        <div>
            <form class="form-signin">
                <img class="mb-4" src="https://vortex.accuweather.com/adc2010/images/slate/AccuWeather_LogoOrange.svg" alt="" width="250" height="36">
                <h1 class="h3 mb-3 font-weight-normal">Enter the Weather Checker</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" class="form-control" placeholder="Enter City or ZipCode" bind="@SearchTerm" required autofocus />
                <button class="btn btn-lg btn-primary" type="button" onclick="@SearchWeather">Search</button>
            </form>
        </div>
        <CurrentWeather Conditions="@this.CurrentCondtions" />
    </div>
    <LocationDisplay Location="@this.Location" />
    <ForecastDayList Days="@this.ForecastDays" />
</div>



@functions  {
    string SearchTerm { get; set; }
    LocationResult Location { get; set; }
    CurrentConditionsResult CurrentCondtions { get; set; }
    List<ForecastDayResult> ForecastDays { get; set; }

    async Task SearchWeather()
    {
        if (!string.IsNullOrEmpty(SearchTerm))
        {
            Location = await locationSearchQuery.SearchLocations(SearchTerm);

            CurrentCondtions = await weatherInfoQuery.GetCurrentConditions(Location.LocationKey);
            ForecastDays = await weatherInfoQuery.Get5DayForecast(Location.LocationKey);
        }
    }
}